section#section-One
  h2(hidden) Advertizing
  .container
    .home
      .home-left
        b.home__title Grow your subscription business
        p.home__text Outcome-centered products that reduce churn, optimize pricing, and grow your subscription business end-to-end.
        .home-nav
          button.home-nav__btn Get Started
          a.home-nav__link(href="#subscription")
      .home-right
        img.home-right-img(src="img/home-main.svg", alt="")
    .partners
      ul.partners__list
        li.partners__item
          img(src="img/partner-1.svg", alt="")
        li.partners__item
          img(src="img/partner-2.svg", alt="")
        li.partners__item
          img(src="img/partner-3.svg", alt="")
        li.partners__item
          img(src="img/partner-4.svg", alt="")
        li.partners__item
          img(src="img/partner-5.svg", alt="")
      