section#section-Four
  h2(hidden) Styles  
  .container
    h2.section__title AVONE STYLES
    p.section__subtitle Choose Your Favorite Color
    .style
      .style-left
      .style-right
        a.style__link(href="#") SHOW WOMEN’S DRESS