//  Третья секция центрального блока. WOMEN’S, MEN’S FASHION
#section-Three {
  padding: 0;
}

.section {
  &__title {
    margin-top: 111px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;      
    line-height: 30px;
    text-align: center;
  }
  &__subtitle {
    margin-bottom: 65px;
    line-height: 22px;    
    text-align: center;
  }
}

.new-product {
  width: 268px;
  &-wrap {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    margin-bottom: 38px;
  }
  &__brand {
    display: block;    
    font-weight: 300;
    line-height: 22px;
  }
  &__link {
    display: block;
    margin: 3px 0;
    font-weight: 600;
    line-height: 22px;
    &:hover {
      color: #df51c9;
    }
  }
  &__price_old {
    text-decoration: line-through;
    margin-right: 30px;   
  } 
  &__price_new {
    color: #CF2929;
  } 
}