section#section-Three
  h2(hidden) Brand
  .container
    h2.section__title WOMEN’S FASHION
    p.section__subtitle Shop our new arrivals from established brands
    .new-product-wrap
      .new-product
        img.new-product__img(src="../../../img/fashion-w-1.jpg", alt="#")
        span.new-product__brand IGURE
        a.new-product__link(href="#") GREEN MUSCLE FIT POLO SHIRT
        span.new-product__price_old $229.00
        span.new-product__price_new $129.00
      .new-product
        img.new-product__img(src="../../../img/fashion-w-2.jpg", alt="#")
        span.new-product__brand IGURE
        a.new-product__link(href="#") GREEN MUSCLE FIT POLO SHIRT
        span.new-product__price_old $229.00
        span.new-product__price_new $129.00
      .new-product
        img.new-product__img(src="../../../img/fashion-w-3.jpg", alt="#")
        span.new-product__brand IGURE
        a.new-product__link(href="#") GREEN MUSCLE FIT POLO SHIRT
        span.new-product__price_old $229.00
        span.new-product__price_new $129.00
      .new-product
        img.new-product__img(src="../../../img/fashion-w-4.jpg", alt="#")
        span.new-product__brand IGURE
        a.new-product__link(href="#") GREEN MUSCLE FIT POLO SHIRT
        span.new-product__price_old $229.00
        span.new-product__price_new $129.00
  
    h2.section__title MEN’S FASHION
    p.section__subtitle Shop our new arrivals from established brands
    .new-product-wrap
      .new-product
        img.new-product__img(src="../../../img/fashion-m-1.jpg", alt="#")
        span.new-product__brand IGURE
        a.new-product__link(href="#") GREEN MUSCLE FIT POLO SHIRT
        span.new-product__price_old $229.00
        span.new-product__price_new $129.00
      .new-product
        img.new-product__img(src="../../../img/fashion-m-2.jpg", alt="#")
        span.new-product__brand IGURE
        a.new-product__link(href="#") GREEN MUSCLE FIT POLO SHIRT
        span.new-product__price_old $229.00
        span.new-product__price_new $129.00
      .new-product
        img.new-product__img(src="../../../img/fashion-m-3.jpg", alt="#")
        span.new-product__brand IGURE
        a.new-product__link(href="#") GREEN MUSCLE FIT POLO SHIRT
        span.new-product__price_old $229.00
        span.new-product__price_new $129.00
      .new-product
        img.new-product__img(src="../../../img/fashion-m-4.jpg", alt="#")
        span.new-product__brand IGURE
        a.new-product__link(href="#") GREEN MUSCLE FIT POLO SHIRT
        span.new-product__price_old $229.00
        span.new-product__price_new $129.00