section#section-Three
  h2(hidden) Metrics
  .container
    .metrics
      .metrics-left
        h2.metrics-left__title In-depth metrics
        p.metrics-left__text Accurate, real-time reporting at your fingertips. Getting data has never been easier.
        a.metrics-left__link(href="#") Learn more        
      .metrics-right
        img(src="img/metrics-main.svg", alt="")    