section#section-Two
  h2(hidden) Subscription  
  .container
    .subscription
      .subscription-left
        img(src="img/subscription-main.svg", alt="")
      .subscription-right
        h2.subscription-right__title Subscription index
        p.subscription-right__text A daily dataset to keep you up to date on subscription market trends and what's happening in your vertical.
        a.subscription-right__link(href="#") Learn more