section#section-One
  .banner-wrap
    .container
      .banner
        span.banner__text NEW TREND
        b.banner__trend COLLUSION
        span.banner__text An exclusive selection of this season's trends.
        .banner-link-wrap
          a.banner-link.btn-primary(href='#') DISCOVER
          a.banner-link.btn-primary(href='#') SHOP NOW