//  Пятая секция центрального блока. TACHEN 19
#section-Five {
  padding: 0;
}

.collection {   
  margin-left: 0;
  margin-right: auto;
  &-wrap {
    margin-top: 115px;    
    background: url(../../../img/collection-bg.jpg) no-repeat;
    background-size: cover;
  }
  .banner-link {
    display: block;
    width: 215px;
    margin-top: 10px;
    text-align: center;
  }
}