section#section-Five
  .collection-wrap.banner-wrap
    .container
      .banner.collection
        span.banner__text OWN THE DAY
        b.banner__trend TACHEN 19
        a.banner-link.btn-primary(href='#') SHOP COLLECTION
          