//  Пятая секция центрального блока. TACHEN 19
#section-Five {
  padding: 0;
}

.collection { 
  width: 460px;
  margin-left: 0;
  margin-right: auto;
  &-wrap {
    padding: 609px 0 100px;
    margin-top: 115px;    
    background: url(../../../img/collection-bg.jpg) no-repeat;
    background-size: cover;
  }
  &__text {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
  }
  &__trend {
    font-size: 80px;
    font-weight: 700;
    line-height: 120px;
  }  
  &__link {
    display: block;
    width: 215px;
    margin-top: 10px;
    text-align: center;
  }  
}