section#section-Five
  h2(hidden) Collection  
  .collection-wrap
    .container
      .collection
        span.collection__text OWN THE DAY
        b.collection__trend TACHEN 19
        a.collection__link.btn-primary(href='#') SHOP COLLECTION
