//  Вторая секция центрального блока. Category 
#section-Two {
  padding-bottom: 85px;
}

.subscription {
  display: flex;
  justify-content: space-between;
  &-left {
    width: 350px;    
  }
  &-right {
    width: 550px;
    padding-top: 95px;
    &__title {
      margin-bottom: 30px;
      font-size: 50px;
      line-height: 57px;
      font-weight: 700;
      color: #19191B;
    }
    &__text {
      width: 465px;
      margin-bottom: 30px;
      font-family: 'Mulish', sans-serif;
      line-height: 30px;
    }
    &__link {
      font-size: 17px;
      line-height: 20px;
      color: #5454D4;
      transition: .4s all ease;
      &:hover {
        color: #ee5423;        
      }
    }
  }
}