#home-section
  .container
    .home
      .home-info
        h3.home-info__title Anytime, anywhere Develop your skill by Online
        p.home-info__text Online education is a form of education where students use their homecomputers through the internet. For many nontraditional students, among them all thosewho want to continue.
        .home-btn-wrap
          button.btn-primary All Courses
          .home-video
            button.home-video__btn
            span.home-video__text Play video
      .home-img__wrap
        img.home__img(src='img/home-img.png' alt='Anytime, anywhere Develop your skill byOnline')
#steps-section
  .container 
    .companies
      p.companies__text Trusted by 30,000+ satisfied students
      ul.companies__list
        li.companies__item
          img(src="img/udemy.png" alt="Udemy Logo")
        li.companies__item
          img(src="img/fiverr.png" alt="Fiverr Logo")
        li.companies__item
          img(src="img/byjus.png" alt="Byjus Logo")
        li.companies__item
          img(src="img/microsoft.png" alt="Microsoft Logo")
    .steps
      .steps-left
        ol.steps__list
          li.steps__item Create Account
          li.steps__item Find Courses
          li.steps__item Book Seat
          li.steps__item.steps__item-active  Get Started
      .steps-right
        h3.steps__title Get Started in 4 Easy Steps
        p.steps__text Proper and good education is very important for all of us. It facilitatesquality learning all through the life among people of any age group, cast, creed,religion and region.
        p.steps__text It is the process of achieving knowledge, values, skills, beliefs, andmoral habits.Education is the process of facilitating learning, or the acquisiofknowledge, skills, values.
        .steps-video
          button.steps-video__btn
          span.steps-video__text See How it Works
section#courses-section
  .container
    h2.courses-title Our Popular Courses
    .courses-wrap
      .courses
        img(src='img/modern-business.jpg' alt='Modern Business | Best Online Courses').courses__img
        .courses-info
          h3.courses-info__title
            a.courses-info__link( href='#') Modern Business | Best Online Courses
          .lectures
            span.lectures__count 30 Lectures
            span.lectures__learners 12k+Learners
          .courses-details
            img(src='img/john-smith.jpg' alt='Jhon Smith teacher').courses-details__img
            span.courses-details__status.courses-details__status_offline
            .courses-details-profile
              b.courses-details__name Jhon Smith
              a.courses-details__link(href='#') View profile
            b.courses-details__price $100
      .courses
        img(src='img/digital-marketing.jpg' alt='Digital Marketing | How to Manage Market').courses__img
        .courses-info
          h3.courses-info__title
            a.courses-info__link( href='#') Digital Marketing | How to Manage Market 
          .lectures
            span.lectures__count 30 Lectures
            span.lectures__learners 12k+Learners
          .courses-details
            img(src='img/kumaniya-martin.png' alt='Kumaniya Martin teacher').courses-details__img
            span.courses-details__status
            .courses-details-profile
              b.courses-details__name Kumaniya Martin
              a.courses-details__link(href='#') View profile
            b.courses-details__price $100
      .courses
        img(src='img/programming.jpg' alt='Programing | Develope Your Programming Skill').courses__img
        .courses-info
          h3.courses-info__title
            a.courses-info__link( href='#') Programing | Develope Your Programming Skill
          .lectures
            span.lectures__count 30 Lectures
            span.lectures__learners 12k+Learners
          .courses-details
            img(src='img/kumaniya-martin.png' alt='Kumaniya Martin teacher').courses-details__img
            span.courses-details__status
            .courses-details-profile
              b.courses-details__name Kumaniya Martin
              a.courses-details__link(href='#') View profile
            b.courses-details__price $100
      .courses
        img(src='img/graphic-design.jpg' alt='Graphic Design|How to be a professionalDesigner').courses__img
        .courses-info
          h3.courses-info__title
            a.courses-info__link( href='#') Graphic Design|How to be a professional Designer
          .lectures
            span.lectures__count 30 Lectures
            span.lectures__learners 12k+Learners
          .courses-details
            img(src='img/kumaniya-martin.png' alt='Kumaniya Martin teacher').courses-details__img
            span.courses-details__status
            .courses-details-profile
              b.courses-details__name Kumaniya Martin
              a.courses-details__link(href='#') View profile
            b.courses-details__price $100
      .courses
        img(src='img/lifestyle.jpg' alt='LifeStyle|Easy to Capture all moments').courses__img
        .courses-info
          h3.courses-info__title
            a.courses-info__link( href='#') LifeStyle | Easy to Capture all moments
          .lectures
            span.lectures__count 30 Lectures
            span.lectures__learners 12k+Learners
          .courses-details
            img(src='img/kumaniya-martin.png' alt='Kumaniya Martin teacher').courses-details__img
            span.courses-details__status
            .courses-details-profile
              b.courses-details__name Kumaniya Martin
              a.courses-details__link(href='#') View profile
            b.courses-details__price $100
      .courses
        img(src='img/graphic-design.jpg' alt='Graphic Design|How to be a professionalDesigner').courses__img
        .courses-info
          h3.courses-info__title
            a.courses-info__link( href='#') Graphic Design|How to be a professional Designer
          .lectures
            span.lectures__count 30 Lectures
            span.lectures__learners 12k+Learners
          .courses-details
            img(src='img/kumaniya-martin.png' alt='Kumaniya Martin teacher').courses-details__img
            span.courses-details__status.courses-details__status_offline
            .courses-details-profile
              b.courses-details__name Kumaniya Martin
              a.courses-details__link(href='#') View profile
            b.courses-details__price $100
    a.courses__btn.btn-primary(href='#') View All Courses
section#feedback-section
  .container
    h2.feedback__title Students say about us
    .feedback
      .feedback-main
        .feedback-main-card
          img.feedback-main__img(src='img/jeiliya-mathus.png' alt='Jeiliya Mathus')
          p.feedback-main__text The point of using Lorem Ipsum is that it has a more-or-lessnormal distribution of letters, as opposed to using 'Content here, content here',making it look like readable English.
          b.feedback-main__name Jeiliya Mathus
          span.feedback-main__job Product Designer, Google
      .feedback-others
        .feedback-card
          img.feedback-others__img(src='img/adam-kauthe.png' alt='Adam Kauthe')
          p.feedback-others__text The point of using Lorem Ipsum is that it has a more-or-lessnormal distribution of letters, as opposed to using 'Content here, content here',making it look like readable English Many desktop.
          b.feedback-others__name Adam Kauthe
          span.feedback-others__job Software Engineer, Google
        .feedback-card
          img.feedback-others__img(src='img/maluka-kamil.png' alt='Maluka Kamil')
          p.feedback-others__text The point of using Lorem Ipsum is that it has a more-or-lessnormal distribution of letters, as opposed to using 'Content here, content here',making it look like readable English Many desktop.
          b.feedback-others__name Maluka Kamil
          span.feedback-others__job Business Consultant, Zoom
section#trial-section
  .container
    .trial
      p.trial__text Sign up & Enroll now, and Get Free Trial For 20 Days
      .trial-link
        a.trial-link__secondary(href="#") Sign up
        a.trial-link__primary(href="#") Start Free Trial
