main
  #home-section
    .container
      .home
        .home-info
          h3.home-info__title Anytime, anywhere Develop your skill by Online
          p.home-info__text Online education is a form of education where students use their home computers through the internet. For many nontraditional students, among them all those who want to continue.
          .home-btn-wrap
            button.btn-primary All Courses
            .home-video
              button.home-video__btn
              span.home-video__text Play video
        .home-img__wrap
          img.home__img(src='img/home-img.png' alt='Anytime, anywhere Develop your skill by Online')
  #steps-section
    .container 
      .companies
        p.companies__text Trusted by 30,000+ satisfied students
        ul.companies__list
          li.companies__item
            img(src="img/udemy.png", alt="Udemy Logo")
          li.companies__item
            img(src="img/fiverr.png", alt="Fiverr Logo")
          li.companies__item
            img(src="img/byjus.png", alt="Byjus Logo")
          li.companies__item
            img(src="img/microsoft.png", alt="Microsoft Logo")
      .steps
        .steps-left
          ol.steps__list
            li.steps__item Create Account
            li.steps__item Find Courses
            li.steps__item Book Seat
            li.steps__item.steps__item-active  Get Started
        .steps-right
          h3.steps__title Get Started in 4 Easy Steps
          p.steps__text Proper and good education is very important for all of us. It facilitates quality learning all through the life among people of any age group, cast, creed, religion and region.
          p.steps__text It is the process of achieving knowledge, values, skills, beliefs, and moral habits.Education is the process of facilitating learning, or the acquisiof knowledge, skills, values.
          .steps-video
            button.steps-video__btn
            span.steps-video__text See How it Works