header#header-section
  .container
    .header
      h1.header__logo YOUR LOGO
      nav.header-nav
        ul.header-nav__list
          li.header-nav__item
            a(href='#') Home
          li.header-nav__item
            a(href='#') SHOP
          li.header-nav__item
            a(href='#') LOOKBOOK
          li.header-nav__item
            a(href='#') FEATURES
          li.header-nav__item
            a(href='#') PAGES
          li.header-nav__item
            a(href='#') BLOG
      .header-user
        ul.header-user__list
          li.header-user__item
            button.material-icons-outlined search
          li.header-user__item
            a(href='#').material-icons-outlined favorite_border
          li.header-user__item
            a(href='#').material-icons-outlined shopping_cart
          
      