
body {
	font-size: $body-font-size;
	font-family: $body-font-family;
	font-weight: $body-font-weight;
	line-height: $body-line-height;
	text-align: $body-text-align;
	color: $body-color;
	background-color: $body-bg;
}

a {
	color: inherit;
	text-decoration: none;
	transition: .4s all ease;
}

ul li,
ol,
li {
	list-style: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

button {
	display: block;
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: .4s all ease;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 10px;
}

.btn-primary {
	padding: 15px 0;
	color: #fff;
	background: $green-color;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0px 8px 80px rgba(9, 188, 77, 0.2);

	&:hover {
		background-color: #3c9f62;
	}
}














// .container {
// 	width: 1140px;
// 	max-width: 100%;
// 	padding: 0 1.5rem;
// 	margin: 0 auto;
// 	display: flex;
// 	justify-content: center;
// }

















// $primary: #d43a1b;
// $primary2: #d43a1b;
// $secondary: #4c7d50;

// $yellow_line: #FCBB08;
// $black_two: #373A39;
// $black_titul: #242421;

// $heading_color: #000839;
// $heading_light_color: rgba($heading_color, .5);
// $font-family-heading: 'Playfair Display', sans-serif;
// $font-family: 'Inter', sans-serif;


// :root {
//  	--color1: #000;
//  	--color2: #fff;
//  	--color3: rgb(20, 188, 151);	
// }

// $font-family-roboto: 'Roboto', sans-serif;




// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// ul {
// 	margin: 0;
// 	padding: 0;
// }












// body {
	// height: 100vh;
	// display: flex;	
// font-family: 'Roboto', sans-serif;
// 	font-family: $font-family-sans-serif;
// 	font-weight: 400;
// 	font-size: 15px;
// 	overflow-x: hidden;
// 	color: #848d92;
// 	background-color: $primary;
// 	position: relative;
// 	&:before {
// 		content: "";
// 		position: fixed;
// 		top: 0;
// 		left: 0;
// 		right: 0;
// 		bottom: 0;
// 		z-index: 9;
// 		background-color: rgba($black, .5);
// 		transition: .3s all ease;
// 		opacity: 0;
// 		visibility: hidden;
// 	}
// 	&.offcanvas-menu {
// 		&:before {
// 			opacity: 1;
// 			visibility: visible;
// 		}
// 	}
// }


// h1, h2, h3, h4, h5, .logo {
// 	font-family: $font-family-sans-serif-secondary;
// }

// a {
// 	color: $black_two;
// 	text-decoration: none;
// 	transition: .3s all ease;

// 	&:hover {
// 		color: $black_two;
// 		text-decoration: none;
// 	}
// }


// .btn {
// 	transition: .3s all ease;
// 	text-decoration: none;
// }

// .bg-light {
// 	background-color: #efefef;
// }

// .btn {
// 	padding: 15px 20px;
// 	border-radius: 4px;
// 	border-color: none;
// 	font-size: 12px;
// 	font-weight: 600;
// 	letter-spacing: .1rem;
// 	text-transform: uppercase;
// 	&.active, &:focus {
// 		outline: none;
// 		box-shadow: none;
// 	}
// 	&.btn-primary {
// 		color: $white;
// 		background-color: $primary;
// 		&:hover {
// 			border-color: $primary;
// 		}
// 	}
// 	&.btn-outline-primary {
// 		color: $primary;
// 		&:hover {
// 			color: $white;
// 		}
// 	}
// 	&.btn-outline-white {
// 		border-color: $white;
// 		color: $white;
// 		&:hover {
// 			background-color: $white;
// 			color: $black;
// 		}
// 	}
// 	&.btn-outline-white-reverse {
// 		background-color: $white;
// 		border-color: $white;
// 		color: $primary;
// 		&:hover {
// 			background: transparent;
// 			border-color: $white;
// 			color: $white;
// 		}
// 	}
// 	&.btn-black {
// 		background: $black;
// 		color: $white;
// 		border-color: $black;
// 		&:hover {
// 			border-color: lighten($black, 5%);
// 			background: lighten($black, 5%);
// 			color: $white;
// 		}
// 	}
// 	&.has-arrow {
// 		padding-right: 50px;
// 		position: relative;
// 		[class^="icon-"] {
// 			position: absolute;
// 			right: 20px;
// 			top: 50%;
// 			transform: translateY(-50%);
// 		}
// 	}
// }



// .form-control {
// 	height: 54px;
// 	border-color: rgba($black, .1);
// 	background-color: transparent!important;
// 	margin-bottom: 10px;
// 	&:active, &:focus {
// 		outline: none;
// 		box-shadow: none;
// 		border-color: rgba($black, .2)!important;
// 	}
// 	&::-webkit-input-placeholder { 
// 		color: rgba($black, .7);
// 	}

// 	&::-moz-placeholder { 
// 		color: rgba($black, .7);
// 	}
// 	&:-ms-input-placeholder { 
// 		color: rgba($black, .7);
// 	}
// 	&:-moz-placeholder { 
// 		color: rgba($black, .7);
// 	}
// }
// textarea {
// 	height: auto!important;
// }

// .relative {
// 	position: relative;
// }

// .section {
// 	padding-top: 4rem;
// 	padding-bottom: 4rem;
// 	.heading {
// 		font-size: 30px;
// 		font-weight: 700;
// 	}
// }

// // PRELOADER STYLE
// #overlayer {
// 	width:100%;
// 	height:100%;  
// 	position:fixed;
// 	z-index:7100;
// 	background: $white;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// }

// .loader {
// 	z-index:7700;
// 	position: fixed;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%, -50%);
// }

