header#header-section
  .container
    .header
      .header__logo
        h1(hidden) Logoipsum
        img(src="../../../img/Logo.svg", alt="Логотип Logoipsum")
      nav.header-nav
        ul.header-nav__list
          li.header-nav__item
            a(href='#') Home
          li.header-nav__item
            a(href='#') Features
          li.header-nav__item
            a(href='#') Pricing         
          li.header-nav__item
            a(href='#') Blog
      button.header__btn Get Started
      