extends ./../layouts/main.pug

append config
    - var myTitle = 'Your Logo'
    - var myDesc = 'Верстка странички с видео ютуб'
    - var Bootstrap5 = false 


append content    
    //- include ./../sections/bloksMain/_blockOne.pug