extends ./../layouts/main.pug

append config
    - var myTitle = 'Logoipsum'
    - var myDesc = 'Верстка странички с видео ютуб'
    - var Bootstrap5 = false 


append content    
    include ./../sections/bloksMain/_blockOne.pug
    include ./../sections/bloksMain/_blockTwo.pug
    include ./../sections/bloksMain/_blockThree.pug
    include ./../sections/bloksMain/_blockFour.pug
    include ./../sections/bloksMain/_blockFive.pug
    //- include ./../sections/bloksMain/_blockSix.pug