// Header

#header-section {
  padding: 50px 0 0;
  background-color: #E4F5EB;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #575859;
  font-size: 20px;
  font-weight: 600;
  line-height: 15px;
  &__logo {
    font-size: $body-font-size;
    color: $body-color;
    font-weight: $body-font-weight;
    &-green {
      color: $green-color;
    }
  }
  &-nav-main {
    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 60px;
    }    
    &__item {
      &-active {
        color: inherit !important;
        font-weight: $body-font-weight;
        cursor: default;
      }    
      &:hover {
        color:$green-color;
      }
    }    
    &-btn {
      position: relative;
      padding-right: 20px;
      color: #575859;
      font-size: 20px;
      font-weight: 600;    
      &:hover {
        color:$green-color;    
        &::after {
          background: url(../img/arrow-green.svg) 50%/100% no-repeat;
        }
      }    
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: 0;
        width: 10px;
        height: 10px;
        background: url(../img/arrow.svg) 50%/100% no-repeat;
        transform: translateY(-50%);
        transition: .4s all ease;
      }
    }
  }
  &-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    &__log {
      &:hover {
        color: $green-color;
      }
    }
    &__item {
      .btn-primary {
        display: block;
        width: 135px;
      }
    }
  }
}

