- var lang = 'ru'
- var myTitle = 'Заголовок страницы'
- var myDesc = ''
- var jQuery3 = false
- var Bootstrap4 = false
- var Bootstrap5 = false
- var GoogleFonts = true
- var FontAwesome = true
- var Fancybox = true