header#header-section
  .container
    .header
      h1.header__logo
        <span class='header__logo-green'>U</span>-Coda
      nav.header-nav-main
        ul.header-nav-main__list
          li.header-nav-main__item.nav-main__item-active Home
          li.header-nav-main__item <button class='header-nav-main-btn'>All Courses</button>
          li.header-nav-main__item
            a.header-nav-main__link(href='#') Pricing
          li.header-nav-main__item
            a.header-nav-main__link(href='#') Blog
          ul.header-action
            li.header-action__item
              a.header-action__link.header-action__log(href='#') Sing in
            li.header-action__item
              a.header-action__link.btn-primary(href='#') Free Trial
  