<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUG Версия</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body> 
    <header id="header-section">
      <div class="container">
        <div class="header">
          <h1 class="header__logo"><span class='header__logo-green'>U</span>-Coda</h1>
          <nav class="header-nav-main">
            <ul class="header-nav-main__list">
              <li class="header-nav-main__item nav-main__item-active">Home</li>
              <li class="header-nav-main__item"><button class='header-nav-main-btn'>All Courses</button></li>
              <li class="header-nav-main__item"><a class="header-nav-main__link" href="#">Pricing</a></li>
              <li class="header-nav-main__item"><a class="header-nav-main__link" href="#">Blog</a></li>
            </ul>
          </nav>
          <ul class="header-action">
            <li class="header-action__item"><a class="header-action__link header-action__log" href="#">Sing in</a></li>
            <li class="header-action__item"><a class="header-action__link btn-primary" href="#">Free Trial</a></li>
          </ul>
        </div>
      </div>
    </header>
    <script src="js/app.js"></script>
  </body>
</html>