main
  #home-section
    .container
      .home
        .home-info
          h3.home-info__title Anytime, anywhere Develop your skill by Online
          p.home-info__text Online education is a form of education where students use their home computers through the internet. For many nontraditional students, among them all those who want to continue.
          .home-btn-wrap
            button.btn-primary All Courses
            .home-video
              button.home-video__btn
              span.home-video__text Play video
        .home-img__wrap
          img.home__img(src='images/home-img.png' alt='Anytime, anywhere Develop your skill by Online')